<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PluginRotaryREST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PluginRotaryREST.Properties.Settings>
            <setting name="Rotary_REST_Speed" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="Rotary_REST_ServerUrl" serializeAs="String">
                <value>http://localhost:5001</value>
            </setting>
            <setting name="Rotary_REST_StepsPerDegree" serializeAs="String">
                <value>1</value>
            </setting>
        </PluginRotaryREST.Properties.Settings>
    </userSettings>
</configuration>
